{
	"rules": {
		"space-before-blocks": [1, "always"],
		"valid-jsdoc": [1, {
			"requireReturn": false
		}],
		"no-unreachable": 1,
		"no-regex-spaces": 2,
		"no-shadow": 1,
		"sap-no-localstorage": 2,
		"no-mixed-requires": [1, false],
		"quotes": [1, "double", "avoid-escape"],
		"no-return-assign": 1,
		"max-len": [1, 200],
		"sap-no-ui5base-prop": 2,
		"spaced-comment": 1,
		"no-mixed-spaces-and-tabs": [1, false],
		"no-param-reassign": 1,
		"sap-no-location-reload": 2,
		"strict": [1, "global"],
		"no-sync": 1,
		"eol-last": 1,
		"generator-star-spacing": 1,
		"no-new-func": 2,
		"constructor-super": 1,
		"no-eval": 2,
		"new-parens": 1,
		"yoda": [1, "never"],
		"no-delete-var": 1,
		"no-ternary": 1,
		"sap-usage-basemastercontroller": 1,
		"no-nested-ternary": 1,
		"no-dupe-args": 2,
		"complexity": [1, 15],
		"no-control-regex": 2,
		"no-invalid-regexp": 2,
		"sap-no-ui5-prop-warning": 1,
		"no-catch-shadow": 1,
		"no-iterator": 1,
		"no-with": 2,
		"sap-no-absolute-component-path": 2,
		"no-spaced-func": 1,
		"curly": [1, "all"],
		"no-debugger": 2,
		"comma-style": 1,
		"no-extend-native": 1,
		"no-extra-parens": 1,
		"no-constant-condition": 2,
		"no-redeclare": 1,
		"one-var": 1,
		"radix": 1,
		"sort-vars": 1,
		"no-new": 1,
		"no-obj-calls": 2,
		"sap-no-br-on-return": 2,
		"sap-no-override-rendering": 2,
		"sap-no-override-storage-prototype": 2,
		"accessor-pairs": 1,
		"handle-callback-err": 1,
		"space-before-function-paren": 1,
		"lines-around-comment": 1,
		"sap-no-proprietary-browser-api": 1,
		"sap-no-element-creation": 2,
		"dot-location": 1,
		"no-bitwise": 1,
		"wrap-iife": [1, "any"],
		"comma-spacing": 1,
		"no-floating-decimal": 1,
		"sap-no-global-selection": 1,
		"no-underscore-dangle": 1,
		"space-unary-ops": 1,
		"no-restricted-modules": 1,
		"no-alert": 2,
		"sap-no-global-variable": 2,
		"no-script-url": 1,
		"func-style": [1, "declaration"],
		"max-depth": [1, 4],
		"no-undefined": 1,
		"no-unexpected-multiline": 1,
		"sap-no-dom-access": 1,
		"no-dupe-keys": 2,
		"no-loop-func": 1,
		"no-shadow-restricted-names": 1,
		"sap-no-jquery-device-api": 2,
		"array-bracket-spacing": [1, "never"],
		"guard-for-in": 1,
		"no-process-exit": 1,
		"vars-on-top": 1,
		"no-extra-semi": 1,
		"sap-message-toast": 1,
		"no-native-reassign": 2,
		"sap-no-global-define": 2,
		"sap-ui5-no-private-prop": 1,
		"no-process-env": 1,
		"comma-dangle": 1,
		"no-else-return": 1,
		"no-array-constructor": 1,
		"use-isnan": 2,
		"quote-props": 1,
		"sap-no-location-usage": 1,
		"no-multi-str": 1,
		"object-shorthand": 1,
		"sap-no-encode-file-service": 1,
		"no-throw-literal": 1,
		"sap-timeout-usage": 1,
		"no-var": 1,
		"consistent-return": 1,
		"no-func-assign": 2,
		"no-self-compare": 1,
		"operator-assignment": 1,
		"no-new-wrappers": 1,
		"padded-blocks": 1,
		"no-negated-in-lhs": 2,
		"keyword-spacing": [1, "overrides"],
		"sap-no-history-manipulation": 1,
		"no-implied-eval": 1,
		"no-div-regex": 1,
		"no-void": 1,
		"sap-no-dom-insertion": 1,
		"no-extra-bind": 1,
		"no-unneeded-ternary": 1,
		"no-plusplus": 1,
		"no-ex-assign": 2,
		"space-in-parens": [1, "never"],
		"newline-after-var": 1,
		"default-case": 1,
		"no-lonely-if": 1,
		"no-inner-declarations": [2, "functions"],
		"max-statements": [1, 40],
		"valid-typeof": 2,
		"sap-no-navigator": 2,
		"key-spacing": [1, {
			"beforeColon": false,
			"afterColon": true
		}],
		"no-inline-comments": 1,
		"semi": 2,
		"no-empty-character-class": 1,
		"no-empty": 1,
		"no-proto": 1,
		"sap-forbidden-window-property": 1,
		"no-new-require": 1,
		"sap-no-hardcoded-url": 2,
		"object-curly-spacing": [1, "never"],
		"no-continue": 1,
		"sap-no-dynamic-style-insertion": 2,
		"no-cond-assign": 2,
		"computed-property-spacing": 1,
		"sap-cross-application-navigation": 1,
		"sap-no-exec-command": 2,
		"no-octal": 1,
		"no-new-object": 1,
		"func-names": 1,
		"sap-no-sessionstorage": 2,
		"no-trailing-spaces": 1,
		"no-irregular-whitespace": 2,
		"consistent-this": [1, "that"],
		"camelcase": 1,
		"space-infix-ops": 1,
		"no-fallthrough": 1,
		"no-warning-comments": [1, {
			"terms": ["todo", "fixme", "xxx"],
			"location": "start"
		}],
		"no-octal-escape": 1,
		"no-unused-vars": [1, {
			"args": "none",
			"vars": "all"
		}],
		"no-sparse-arrays": 2,
		"operator-linebreak": 1,
		"no-sequences": 1,
		"no-undef": 2,
		"eqeqeq": 1,
		"indent": 1,
		"sap-no-localhost": 1,
		"no-multi-spaces": 1,
		"sap-no-hardcoded-color": 2,
		"new-cap": [1, {
			"capIsNew": false
		}],
		"no-console": 2,
		"no-multiple-empty-lines": [1, {
			"max": 2
		}],
		"max-nested-callbacks": [1, 2],
		"sap-no-global-event": 2,
		"no-extra-boolean-cast": 1,
		"block-scoped-var": 1,
		"no-labels": 1,
		"no-eq-null": 1,
		"no-path-concat": 1,
		"no-label-var": 1,
		"no-use-before-define": 1,
		"semi-spacing": 1,
		"linebreak-style": [2, "unix"],
		"max-params": [1, 8],
		"no-caller": 2,
		"no-lone-blocks": 1,
		"wrap-regex": 1,
		"no-unused-expressions": 2,
		"dot-notation": 1,
		"no-undef-init": 1,
		"brace-style": [1, "1tbs"],
		"no-duplicate-case": 2,
		"prefer-const": 1,
		"no-this-before-super": 1,
		"array-callback-return": 2,
		"arrow-body-style": 2,
		"arrow-parens": 2,
		"arrow-spacing": 0,
		"block-spacing": 2,
		"callback-return": 2,
		"class-methods-use-this": 2,
		"func-call-spacing": 2,
		"func-name-matching": 2,
		"global-require": 2,
		"id-blacklist": 2,
		"id-length": 2,
		"id-match": 2,
		"init-declarations": 2,
		"jsx-quotes": 2,
		"line-comment-position": 2,
		"lines-around-directive": 2,
		"max-lines": 2,
		"max-statements-per-line": 2,
		"multiline-ternary": 2,
		"newline-before-return": 2,
		"newline-per-chained-call": 2,
		"no-case-declarations": 2,
		"no-class-assign": 2,
		"no-confusing-arrow": 2,
		"no-const-assign": 2,
		"no-dupe-class-members": 2,
		"no-duplicate-imports": 2,
		"no-empty-function": 2,
		"no-empty-pattern": 2,
		"no-extra-label": 2,
		"no-global-assign": 2,
		"no-implicit-coercion": 2,
		"no-implicit-globals": 2,
		"no-invalid-this": 2,
		"no-magic-numbers": 2,
		"no-mixed-operators": 2,
		"no-negated-condition": 2,
		"no-new-symbol": 2,
		"no-prototype-builtins": 2,
		"no-restricted-globals": 2,
		"no-restricted-imports": 2,
		"no-restricted-properties": 2,
		"no-restricted-syntax": 2,
		"no-return-await": 2,
		"no-self-assign": 2,
		"no-tabs": 2,
		"no-template-curly-in-string": 2,
		"no-unmodified-loop-condition": 2,
		"no-unsafe-finally": 2,
		"no-unsafe-negation": 2,
		"no-unused-labels": 2,
		"no-useless-call": 2,
		"no-useless-computed-key": 2,
		"no-useless-concat": 2,
		"no-useless-constructor": 2,
		"no-useless-escape": 2,
		"no-useless-rename": 2,
		"no-useless-return": 2,
		"no-whitespace-before-property": 2,
		"object-curly-newline": 2,
		"object-property-newline": 2,
		"one-var-declaration-per-line": 2,
		"prefer-arrow-callback": 2,
		"prefer-numeric-literals": 2,
		"prefer-reflect": 2,
		"prefer-rest-params": 2,
		"prefer-spread": 2,
		"prefer-template": 2,
		"require-jsdoc": 2,
		"require-yield": 2,
		"rest-spread-spacing": 2,
		"sort-imports": 2,
		"sort-keys": 2,
		"symbol-description": 2,
		"template-curly-spacing": 2,
		"unicode-bom": 2,
		"yield-star-spacing": 2
	},
	"globals": {
		"com": true,
		"oData": false,
		"sakp": false,
		"fin": true,
		"cloud": true,
		"bsuite": false,
		"cordova": false,
		"ui": true,
		"webide": false,
		"asyncTest": false,
		"i2d": true,
		"gltrade": false,
		"drilldown": true,
		"opaTest": false,
		"ux": true,
		"test": false,
		"$": false,
		"module": false,
		"ai": false,
		"notEqual": false,
		"notDeepEqual": false,
		"throws": false,
		"ssuite": false,
		"deepEqual": false,
		"s2p": false,
		"Promise": false,
		"ehs": false,
		"sinon": false,
		"stop": false,
		"util": true,
		"slo": false,
		"mdm": false,
		"mytravelandexpense": false,
		"strictEqual": false,
		"cec": false,
		"cus": false,
		"notStrictEqual": false,
		"fscm": false,
		"fm": true,
		"nw": true,
		"shcm": false,
		"fcg": true,
		"URI": false,
		"fs": true,
		"retail": false,
		"d3": false,
		"hcm": false,
		"oil": true,
		"assert": false,
		"hpa": false,
		"ok": false,
		"sap": true,
		"QUnit": false,
		"cross": true,
		"srm": false,
		"equal": false,
		"expect": false,
		"jQuery": false,
		"publicservices": true,
		"uxcc": false,
		"equals": false,
		"tl": false,
		"travel": true
	},
	"env": {
		"node": false,
		"browser": true,
		"amd": true,
		"mocha": true,
		"jasmine": false
	}
}