/* status facet */
.comSapCdMacoMmtUiReuseStatusFacet {
    vertical-align: top;
    margin-right: 3rem;
    margin-bottom: 1rem;
    line-height: 1.320rem;
}
.comSapCdMacoMmtUiReuseStatusFacet .sapMLabel {
    margin-bottom: 0.5rem;
}
.comSapCdMacoMmtUiReuseStatusFacet .sapMLabel:after {
    content: ":";
}
.comSapCdMacoMmtUiReuseStatusFacet .sapMObjStatus {
    font-size: 1.375rem;
    line-height: 1.5rem;
}

/* form facet */
.comSapCdMacoMmtUiReuseFormFacet {
    vertical-align: top;
    margin-right: 3rem;
    margin-bottom: 1rem;
    line-height: 1.320rem;
}
.comSapCdMacoMmtUiReuseFormFacet .sapMLabel {
    line-height: 1.420rem;
    margin-right: 0.5rem;
}
.comSapCdMacoMmtUiReuseFormFacet .sapMLabel:after {
    content: ":";
}
.comSapCdMacoMmtUiReuseFormFacet .sapMLnk {
    line-height: 1.420rem;
}
.comSapCdMacoMmtUiReuseFormFacet .sapMText { /* only necessary if text breaks into multiple lines */
    margin-top: 0.188rem;
}

/* object identifier */
.sapMList .comSapCdMacoMmtUiReuseObjId {
    margin: 0.5rem 0;
}
.sapMList .comSapCdMacoMmtUiReuseObjIdTitle {
    font-weight: bold;
}

/* mmt validity */
.comSapCdMacoMmtUiReuseMmtValidityFirst {
    padding-bottom: 0.15rem;
}