.comSapCdMacoMmtUiDispMessagePayloadSection .sapUxAPObjectPageSectionHeader {
    border-bottom-width: 0;
}

.comSapCdMacoMmtUiDispMessagePayloadSection .sapUxAPObjectPageSectionTitle {
	border-bottom-width: 0;
	font-size: 1.2rem;
	font-weight: bold;
}