.comSapCdMacoMmtUiMonitorMsgGraphTitle .sapMNCIndScale {
	overflow: inherit;
}

.comSapCdMacoMmtUiMonitorMsgGraphTitle .ovpChartTitle {
	visibility: hidden;
}

.comSapCdMacoMmtUiMonitorMsgGraphTitle .TargetDeviationFlexbox {
	visibility: hidden;
}