.comSapCdMacoMmtUiMonitorMsgGraphTitle .sapMNCIndScale {
	overflow: inherit;
}

.comSapCdMacoMmtUiMonitorMsgGraphTitle .ovpChartTitle {
	visibility: hidden;
}

.comSapCdMacoMmtUiMonitorMsgGraphTitle .TargetDeviationFlexbox {
	visibility: hidden;
}

.comSapCdMacoMmtUiMonitorMsgGraphTitle .sapOvpOverflowEllipsisDataField {
	white-space: pre-wrap;
}

.comSapCdMacoMmtUiMonitorMsgGraphTitle .sapOvpBarList.sapOvpBarCondensedList .sapOvpBarListTitle {
	line-height: 1rem;
    margin-bottom: 0rem;
    font-size: 0.75rem;
}